services:
  postgres:
    image: postgres:16-alpine
    container_name: ratelimiter-db
    environment:
      POSTGRES_DB: ratelimiter_db
      POSTGRES_USER: dev_user
      POSTGRES_PASSWORD: dev_password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U dev_user -d ratelimiter_db" ]
      interval: 3s
      timeout: 3s
      retries: 3

volumes:
  postgres_data:

networks:
  default:
    name: ratelimiter-net