services:
  postgres:
    image: postgres:16-alpine
    container_name: ratelimiter-db
    environment:
      POSTGRES_DB: ratelimiter_db
      POSTGRES_USER: dev_user
      POSTGRES_PASSWORD: dev_password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U dev_user -d ratelimiter_db" ]
      interval: 3s
      timeout: 3s
      retries: 3
  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: ratelimiter-rabbit
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: dev_user
      RABBITMQ_DEFAULT_PASS: dev_password
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    healthcheck:
        test: [ "CMD", "rabbitmq-diagnostics", "ping" ]
        interval: 5s
        timeout: 5s
        retries: 5
volumes:
  postgres_data:
  rabbitmq_data:

networks:
  default:
    name: ratelimiter-net